<p id="notice"><%= notice %></p>
<div class="container">
  <h2>
    <%= @training.title %>
  </h2>
  <div class="right">
    <%= link_to 'Voltar', trainings_path, :class => 'btn btn-secondary right' %>
  </div>
</div>
<br>
<br>
<div class="container">
  <% @training.item_trainings.each do |item|%>
    <div class="accordion" id="accordionExample<%= item.exercise.id %>">
      <div class="card">
        <div class="card-header" id="heading<%= item.exercise.id %>">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= item.exercise.id %>" aria-expanded="true" aria-controls="collapse<%= item.exercise.id %>">
              <%= item.exercise.name.upcase %>
            </button>
          </h2>
        </div>
        <div id="collapse<%= item.exercise.id %>" class="collapse" aria-labelledby="heading<%= item.exercise.id %>" data-parent="#accordionExample<%= item.exercise.id %>">
          <div class="card-body">
            <ul class="list-group">
              <%item.exercise.item_exercises.each do |item_ex|%>
                <li class="list-group-item">
                  <%= item_ex.name.capitalize %>
                  <a href="#" class="btn btn-default" data-toggle="modal" data-target="#videoModal" data-theVideo="http://www.youtube.com/embed/<%= item_ex.guide.split('watch?v=')[1] %>">
                    <%= octicon "link-external", :height => 16 %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <br>
    </div>
  <% end %>
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div>
            <iframe width="100%" height="350" src=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
  function autoPlayYouTubeModal(){
  var trigger = $("body").find('[data-toggle="modal"]');
  trigger.click(function() {
  var theModal = $(this).data( "target" ),
  videoSRC = $(this).attr( "data-theVideo" ),
  videoSRCauto = videoSRC+"?autoplay=1" ;
  $(theModal+' iframe').attr('src', videoSRCauto);
  $(theModal+' button.close').click(function () {
  $(theModal+' iframe').attr('src', videoSRC);
  });
  });
  }
  $(document).ready(function(){
  autoPlayYouTubeModal();
  });
</script>
