<%= form_with(model: numero_de_repeticao) do |form| %>
  <% if numero_de_repeticao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(numero_de_repeticao.errors.count, "error") %> prohibited this numero_de_repeticao from being saved:</h2>

      <ul>
        <% numero_de_repeticao.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :min %>
    <%= form.number_field :min %>
  </div>

  <div class="field">
    <%= form.label :max %>
    <%= form.number_field :max %>
  </div>


  <div class="input-field col s12">
    <select name="numero_de_repeticao[genero]" id="numero_de_repeticao_genero">
      <option value="" disabled selected>Selecione o gênero</option>
      <option value="M">Masculino</option>
      <option value="F">Feminino</option>
    </select>
    <label>Gênero</label>
  </div>

  <br>
  <br>
  <div class="actions">
    <%= form.submit 'Salvar' %>
  </div>
<% end %>


<script>
 $(document).ready(function(){
    $('select').formSelect();
  });
</script>