<p id="notice"><%= notice %></p>
<h1>Item Exercises</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Guide</th>
      <th>Exercise</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @item_exercises.each do |item_exercise| %>
      <tr>
        <td><%= item_exercise.name %></td>
        <td><a href=<%= item_exercise.guide %> target="_blank"><%=item_exercise.guide %></a></td>
        <td><%= item_exercise.exercise.name %></td>
        <td><%= link_to 'Show', exercise_item_exercise_path(@exercise, item_exercise) %></td>
        <td><%= link_to 'Edit', edit_exercise_item_exercise_path(@exercise, item_exercise) %></td>
        <td><%= link_to 'Destroy', exercise_item_exercise_path(@exercise, item_exercise), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Item Exercise', new_exercise_item_exercise_path %>
