<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @item_exercise.name %>
</p>
<p>
  <strong>Guide:</strong>
  <a href=<%= @item_exercise.guide %> target="_blank"><%= @item_exercise.guide %></a>
</p>
<p>
  <strong>Exercise:</strong>
  <%= @item_exercise.exercise_id %>
</p>
<%= link_to 'Edit', edit_exercise_item_exercise_path(@exercise, @item_exercise) %> |
<%= link_to 'Back', exercise_item_exercises_path %>
