<%= form_with(model:[@user, profile]) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label for="first_name">Nome</label>
    <%= form.text_field :first_name ,class: 'form-control', placeholder: 'Nome'%>
  </div>

  <div class="field">
    <label for="last_name">Sobrenome</label>
    <%= form.text_field :last_name, class: 'form-control', placeholder: 'Sobrenome'%>
  </div>

  <div class="field">
    <label for="birthday">Data de Nascimento</label>
    <%= form.text_field :birthday, class: 'form-control', placeholder: 'Data de nascimento'%>
  </div>

  <div class="field">
    <label for="genre">Gênero</label>
    <%= form.select :genre, [["Masculino", "m"], ["Feminino", "f"]], {}, {required: 'true', class: 'custom-select mr-sm-2'} %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar" %>
  </div>
<% end %>
