<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Data de nascimnento:</strong>
  <%= @profile.birthday %>
</p>

<p>
  <strong>Gênero:</strong>
  <%= @profile.genre == "m" ? "Masculino" : "Feminino" %>
</p>

<%= link_to 'Editar', edit_profile_path(@profile) %> |
<%= link_to 'Voltar', profiles_path %>
