<br>
<br>


<div class="container">
  <div class="my-training-content" style="margin: 80px 0; max-width:650px; margin: auto;">
  <h2 style="color: #bdbdbd;">Montar treino</h2>

    <ul class="tabs grey darken-3">
      <% @trainings.each do |training| %>
        <li id="tab<%= training.id %>" class="tab col s3"><a href="#training<%= training.id %>" style="color: #e7b43e;"><%= training.title %></a></li>
      <% end %>
    </ul>
    <% @trainings.each do |training| %>
      <div id="training<%= training.id %>" class="col s12 grey darken-3">
        <%= render 'form', my_training: @my_training, training: training %>
      </div>
    <% end %>
  </div>
</div>

<br>
<br>


<style>
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(231,180,62,0.2);
    outline: none;
}
.collapsible {
  color: #bdbdbd!important;
}
.collapsible-body{
  border:none!inportant;
}
.collapsible-header{
  border-bottom: 1px solid #000!important;
  color: #e7b43e!important;
}
.collapsible {
  border-color:#000!important;
}
span.badge.new {
  color: #000!important;
  background-color: #fff!important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #e7b43e!important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #e7b43e!important;
}

</style>

<script>

 $(document).ready(function(){
    $('.tabs').tabs({swipeable: false});
    
    $('.collapsible').collapsible();
  });
  $(document).on('click','.btn',function(){
   var htmlTex="";
   $('.tabs').tabs('select', "#form").html(htmlTex);
});
        
</script>
