<%= form_for([tipo_de_exercicio_do_treino]) do |form| %>
  <% if tipo_de_exercicio_do_treino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_de_exercicio_do_treino.errors.count, "error") %> prohibited this tipo_de_exercicio_do_treino from being saved:</h2>

      <ul>
        <% tipo_de_exercicio_do_treino.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Rotina do treino</label>
    <%= form.select :rotina_de_treino_id, RotinaDeTreino.all.collect { |rt| [rt.rotina.nome+' | '+rt.treino.nome+' | '+(rt.rotina.genero=="f" ? "Feminino" : "Masculino"), rt.id] }, {}, { class: 'form-control', required: true, selected: @set } %>
  </div>

  <div class="field">
    <label>Tipo de Exercício</label>
    <%= form.select :tipo_de_exercicio_id, TipoDeExercicio.all.collect { |tex| [tex.nome, tex.id]}, {}, { class: 'form-control', required: true, selected: @set } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>

  $(document).ready(function(){
    $('select').formSelect();
  });
</script>