<%= form_with(model: [@training, item_training]) do |form| %>
  <% if item_training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_training.errors.count, "error") %> prohibited this item_training from being saved:</h2>
      <ul>
        <% item_training.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :exercise_id %>
    <%= form.select( :exercise_id, Exercise.all.map{ |e| [e.name, e.id]} )%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
