<p id="notice"><%= notice %></p>
<h1>Item Trainings</h1>
<table>
  <thead>
    <tr>
      <th>Training</th>
      <th>Exercise</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @item_trainings.each do |item_training| %>
      <tr>
        <td><%= item_training.training.title %></td>
        <td><%= item_training.exercise.name %></td>
        <td><%= link_to 'Show', training_item_training_path(@training, item_training) %></td>
        <td><%= link_to 'Edit', edit_training_item_training_path(@training, item_training) %></td>
        <td><%= link_to 'Destroy', training_item_training_path(@training, item_training), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Item Training', new_training_item_training_path %>
