<!DOCTYPE html>
<html>
  <head>
    <title>AppGym</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet"href="https://material-icons.github.io/material-icons-font/css/all.css"/>
    <!-- Compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/modal-video@2.0.1/css/modal-video.min.css">
    <%# <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> %>
		<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://unpkg.com/modal-video@2.0.1/js/jquery-modal-video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  </head>
  <body>
    <!--Menu Mobile-->
    <% if cookies[:user].present? %>
    <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/profile" class="sidenav-close"><i class="material-icons">cloud</i>Meu Perfil</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/logout"><i class="material-icons">view_module</i>Sair</a></li>
      </ul>

    <%end%>
    <!--Menu Mobile-->

    <% if cookies[:user].present? %>
      <nav>
        <div class="nav-wrapper" style="display:flex;">
          <div class="btn-menu">
          <% if request.params[:action] != 'index'%>
            <a href=<%= url_for(:back) %> class="sidenav-trigger">
              <i class="material-icons dp48">keyboard_backspace</i>
            </a>  
          <% end %>
          </div>
          
          <div class="logo">
            <a href="/"><img src="/images/logo02-preto.png" alt="MaisGym"/></a>
          </div>  
          
          <!-- Dropdown Trigger -->
          <a class='dropdown-trigger' href='#' data-target='dropdown1' style="margin-right:20px; color:#000;"><i class="material-icons" style="color:#000; font-size:32px;">apps</i></a>
        </div>

      </nav>
      
    <% end %>
      
    
      <%= yield %>
    <script>
      $('.dropdown-trigger').dropdown({
        constrainWidth: false,
      });
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
     
      $(".js-modal-btn").modalVideo({
        autoplay: 1
      });
    
    </script>
  </body>
</html>
